importFrom("graphics", "lines", "par", "plot", "points", "text")
importFrom("stats", "na.omit")
importFrom("utils", "flush.console")

export(art)
export(annulus)
export(capIt)
export(cull)
export(dirCreate)
export(ellipseNames)
export(eps)
export(gradLegend)
export(listFiles)
export(logitAdj)
export(longRun)
export(mergeLists)
export(mmode)
export(naOmitMulti)
export(naRows)
export(pairDist)
export(prefix)
export(probitAdj)
export(quadArea)
export(rankMulti)
export(rotMatrix)
export(same)
export(sampleAcross)
export(sampleStrat)
export(say)
export(se)
export(spoke)
